* {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    background-color: black;
    color: white;
}

#logoZapSelling img {
    display: block;
    max-width: 120px;
    margin: auto;
    float: right;
}

footer {
    margin-top: 60vh;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.login {
    max-width: 500px;
    margin: auto;
    margin-top: 35vh;
    padding: 25px;
    background-color: #ffffff13;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.014);
}

input {
    max-width: 400px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #0c111a;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
}