<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="imagens/icone logo Zap Selling.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/style.css">
    <title>ZAP SELLING</title>
</head>
<body>
    <header style="position: fixed;">
        <div class="menu">
            <div class="scrolled" style=" display: flex; width: 100%;">
                <div class="flex-menu-top"
                    style="display: flex; align-items: center;text-align: center; max-width: 900px; margin: auto;">
                    <a href="navegação.html">
                        <p
                            style="border: 2px solid gray; border-radius: 15px; margin: 5px; max-width: 85px;padding: 5px;">
                            HOME
                        </p>
                    </a>
                    <a href="Gerenciador de Leads.html">
                        <p
                            style="border: 2px solid gray; border-radius: 15px; margin: auto; display: flex; max-width: 440px; padding: 5px;">
                            AUTOMAÇÃO DE MENSAGENS
                        </p>
                    </a>
                    <p
                        style="border: 2px solid gray; border-radius: 15px; margin: 5px; display: block; max-width: 285px; padding: 5px;">
                        <a href="https://api.whatsapp.com/send?phone=5519986030166&text=TESTE%0ASuporte%20!!!%0ABom%20dia,%20%0ATenho%20um%20grave%20problema%20com%20a%20plataforma%20e%20preciso%20apoio%20imediato."
                            target="_blank">
                            SUPORTE
                        </a>
                    </p>
                </div>
                <label id="input" for="" style="margin: 5px;">
                    <img src="imagens/lupa.png" alt="">
                    <input type="text" name="" id="" placeholder="Pesquisa">
                </label>
                <div id="menuTop" style="position: fixed; background-color: #91A663; padding: 10px; border-radius: 15px;">
                    <div class="flex">
                        <nav>
                            <picture id="setasDuplas" style="display: block; margin: auto;">
                                <img src="imagens/menu.png" alt="">
                            </picture>
                            <ul style="background-color: #91A663;border-radius: 15px;">
                                <li style="border:  2px solid black;">
                                    <a href="guia.html">
                                        Ajuda
                                    </a>
                                </li>
                                <li style="border:  2px solid black;">
                                    <a href="membros.html">
                                        Comunidade
                                    </a>
                                </li>
                                <li style="border:  2px solid black;">
                                    <a href="configurações.html">
                                        Configuração
                                    </a>
                                </li>
                                <li style="border:  2px solid black;">
                                    <a href="heatingMat.html">
                                        Historico
                                    </a>
                                </li>
                                <li style="border:  2px solid black;">
                                    <a href="templates.html">
                                        Modelos
                                    </a>
                                </li>
                                <li style="border:  2px solid black;">
                                    <a href="perfil.html">
                                        Minha Conta
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div style="max-width: 1200px; margin: auto;">
    <picture id="logoZapSelling">
        <img src="imagens/logo Zap Selling.jpeg" alt="">
    </picture>
        <!-- Essa parte é esclusiva para o 'Guia', atenção na alteração de commit -->
        <h1 style="text-align: justify; background-color: rgb(14, 92, 11);">
            Guia do usuário (Passo a passo de como utilizar a ferramenta)
        </h1>
        <section id="addAPage" style="max-width: 900px; margin: auto;">

            <h2>
                **2. ** Ofereça um bom atendimento
            </h2>
            <p>
                O atendimento é um fator fundamental para qualquer negócio, mas é ainda mais importante nas vendas
                pelo WhatsApp.
            </p>
            <p>
                Afinal, os clientes estão acostumados a ter um atendimento rápido e personalizado nesse canal.
            </p>
            <p>
                Por isso, é importante ter uma equipe treinada para atender as dúvidas e solicitações dos clientes
                pelo WhatsApp.
            </p>
            <p>
                O atendimento deve ser rápido, cordial e eficiente, a fim de proporcionar uma boa experiência ao
                cliente.
            </p>
        </section>
        <picture id="setasMultimidia">
            <a href="guai2.html">
                <img id="setaEsquedaMultimidia" src="imagens/duas-setas-para-a-esquerda (1).png" alt="">
            </a>
            <a href="guia4.html">
                <img id="setaDireitaMultimidia" src="imagens/avanco-rapido.png" alt="">
            </a>
        </picture>
    </div>
    <footer>
        <p>
            © 2023 - Todos os direitos reservados by - <a style="margin-left: 5px;"
                href="https://www.instagram.com/ryanferreira_019/" target="_blank">RYAN
                FERREIRA</a> & <a href="https://www.instagram.com/pk_digital_products/" target="_blank">PK DIGITAL
                PRODUCTS</a>
        </p>
    </footer>
</body>

</html>