id="import"
        <!-- Lista de leituras, ainda não sei qual é o proposito disso... -->
        <section id="listaDeLeituras">
            <h2 id="topVH">
                <img src="imagens/arquivos.png" alt="">
                Ter uma lista de leituras é importante por vários motivos.
            </h2>
            <p>
                Em primeiro lugar, ajuda você a se manter organizado e focado em seus objetivos de leitura.
            </p>
            <p>
                Quando você tem uma lista, é mais provável que você realmente leia os livros que deseja ler, em vez de
                simplesmente deixá-los se acumularem na sua estante.
            </p>
            <img src="imagens/livraria-digital.png" alt="">
        </section>
    </div>
    <footer>
        <p>
            © 2023 - Todos os direitos reservados by - <a style="margin-left: 5px;"
                href="https://www.instagram.com/ryanferreira_019/" target="_blank">RYAN
                FERREIRA</a> & <a href="https://www.instagram.com/pk_digital_products/" target="_blank">PK DIGITAL
                PRODUCTS</a>
        </p>
    </footer>
</body>

</html>