<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="imagens/icone logo Zap Selling.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/style.css">
    <title>ZAP SELLING</title>
</head>

<body>
    <header style="position: fixed;">
    </header>
    <div style="max-width: 1200px; margin: auto; padding-top: 25vh;">
        <picture id="logoZapSelling">
            <img src="../static/imagens/logo Zap Selling.jpeg" alt="">
        </picture>
        <div style="text-align: center; justify-content: baseline;">
            <div class="container">
                <form method="POST" action="{{ url_for('auth.login') }}" style="text-align: justify;">
                    <label for="email">Email:</label>
                    <input type="text" id="email" name="email" required>
                    <label for="senha1">Password:</label>
                    <input type="password" id="senha1" name="senha1" required>
                    <button type="submit">Login</button>
                </form>
                <ul style="list-style: none;">
                    <a href='signup'>
                        <button>
                            Cadatre-se
                        </button>
                    </a>
                    <a href='home'>
                        <button>
                            Painel de controle
                        </button>
                    </a>
                </ul>
            </div>
            <script>
                {% with messages = get_flashed_messages(with_categories = True) %}
                {% if messages %}
                {% for category, message in messages %}
                {% if category == 'error' %}
            </script>
            <div class="alert alert danger alert-dismissible fade show" role="alert">
                <script>
                    { { message } }
                </script>
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
            <script>
                {% else %}
            </script>
            <div class="alert alert danger alert-dismissible fade show" role="alert">
                <script>
                    { { message } }
                </script>
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
            <script>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% endwith %}
            </script>
        </div>
    </div>
    <footer>
        <p for="">
            © 2023 - Todos os direitos reservados by - <a style="margin-left: 5px;"
                href="https://www.instagram.com/ryanferreira_019/">RYAN
                FERREIRA</a> & <a href="https://www.instagram.com/pk_digital_products/">PK DIGITAL PRODUCTS</a>
        </p>
    </footer>
</body>

</html>